@font-face {
  font-family: 'BritishInseratMN';
  src: url("../font/font.woff") format("woff");
}

body {
  color: #000;
  font-family: 'Noto Sans JP', 'Noto Sans CJK JP', 'Noto Sans Japanese', 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', sans-serif;

  img {
    width: 100%;
    vertical-align: bottom;
    @include mediaQuery() {
      width: 50%;
    }
  }

  video {
    width: 100%;
    vertical-align: bottom;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #000;
  }

  .commonButton {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    a {
      color: #fff;
      font-family: 'Barlow Condensed', sans-serif;
      font-weight: bold;
      padding: 0 20px;
      display: flex;
      align-items: center;
      text-decoration: none;
      span {
        padding-right: 4px;
        line-height: 1.6;
        letter-spacing: 1px;
        font-size: 15px;
      }
      img {
        width: 14px;
      }
    }
  }

  header {
    nav {
      ul {
        display: flex;
        overflow-x: auto;
        overscroll-behavior: contain;
        padding: 0 6px;
      }
      li {
        position: relative;
        text-align: center;
        display: inline-block;
        font-size: 28px;
        font-family: 'BritishInseratMN', sans-serif;
        letter-spacing: -1px;
        line-height: .8;
        padding: 14px 4px 14px;
        &.is-active {
          transform: translateY(-5px);
          a {
            color: #000;
          }
          &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -5px;
            left: 0;
            display: block;
            width: 100%;
            height: 5px;
            background-color: #000;
          }
        }
      }
      a {
        font-family: 'BritishInseratMN', sans-serif;
        color: rgba(26,26,26,0.15);
      }
      
    }
  }
  main {
    .news {
      margin-left: 20px;
      padding: 5px 0 10px;
      position: relative;
      top: -20px;
      z-index: 1;
      background-color: #fff;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
      }
      .news_date {
        width: 80px;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: 13px;
        line-height: 1;
        letter-spacing: 0;
        font-weight: 700;
        text-align: center;
        color: rgba(26,26,26,0.45);
        &:after {
          content: "NEW";
          display: inline-block;
          width: 50px;
          height: 18px;
          font-size: 13px;
          font-weight: 700;
          line-height: 1;
          letter-spacing: 2px;
          margin: 3px auto 0;
          padding: 2px 0 0 2px;
          color: #fff;
          background-color: #B49B6C;
          animation: news-label 2s infinite;
        }
      }
      @keyframes news-label {
        0% {
          transform: scale(1);
        }
        10% {
          transform: scale(0.9);
        }
        20% {
          transform: scale(1);
        }
        100% {
          transform: scale(1);
        }
      }
      .news_title {
        font-size: 13px;
        font-weight: bold;
        line-height: 19px;
        padding: 18px 15px 18px 0;
        border-bottom: 1px solid rgba(0,0,0,0.16);
        width: calc(100% - 80px);
      }
    }
    .video {
      position: relative;
      .slick-arrow {
        position: relative;
        display: inline-block;
        background-color: #fff;
        width: 54px;
        height: 54px;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
        }
      }
      .prevArrow {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        transform: rotate(180deg);
      }
      .nextArrow {
        position: relative;
        z-index: 2;
        left: 54px;
        bottom: -1px;
      }
      .video_detail {
        padding: 20px;
        background-color: #1c1c1c;
      }
      h3 {
        height: 48px;
        font-size: 16px;
        line-height: 19px;
        margin: 0 0 15px;
        font-weight: 400;
        transition: all .6s .4s;
        color: #fff;
      }
      p {
        font-size: 13px;
        transition: all .6s .4s;
        color: #A2A2A2;
      }
      .commonButton {
        position: absolute;
        bottom: 1px;
        z-index: 1;
      }
    }
  }
}

