//初期化
@import "common/reset";
//ブレイクポイント定義
@import "common/responsive";

img {
  width: 100%;
}

.darkBox {
  width: 100%;
  height: 300px;
  margin-top: 300px;
  background-color: #000;
  opacity: 0;
  transform: translateY(50%);
  color: #fff;
  &.add-inView {
    opacity: 1;
    transform: translateY(0);
    transition: 1s opacity ease-out, 1s transform ease-out;
  }
}

/* モーダルCSSここから */
.modalArea {
  visibility: hidden; /* displayではなくvisibility */
  opacity : 0;
  position: fixed;
  z-index: 10; /* サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .4s;
  overflow-y: scroll;
}

.modalBg {
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.9);
}

.modalWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 70%;
  height: 250px;
  max-width: 500px;
  padding: 10px 30px;
  background-color: #fff;
  overflow: auto;
}

.closeModal {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}

.is-show { /* モーダル表示用クラス */
  visibility: visible;
  opacity : 1;
}
/* モーダルCSSここまで */


/* 以下ボタンスタイル */
button {
  padding: 1rem 2rem;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid #282828;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.backToTop {
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #ff0000;
}