/*------------------
  footer
-------------------*/
footer {
  padding: 20px 0 25px;
  background-color: #1C1C1C;
  @include mediaQuery(desktopFollow) {
    padding: 50px 0 20px;
  }
}
.footer_banner {
  @include mediaQuery(mobileOnly) {
    padding: 0 15px;
  }
  @include mediaQuery(desktopFollow) {
    max-width: 500px;
  }
  margin: 0 auto;
}
.footer_sns {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.footer_snsButton {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  display: inline-block;
  opacity: 0.3;
  transition: opacity 1000ms;
  @include mediaQuery(desktopFollow) {
    width: 44px;
    height: 44px;
    margin: 0 10px;
  }
  &:hover {
    opacity: 1;
  }
}
.footer_logo {
  display: block;
  width: 35px;
  margin: 50px auto 2px;
  opacity: 0.3;
  @include mediaQuery(desktopFollow) {
    width: 44px;
    margin: 60px auto 0;
  }
}
.footer_copyright {
  text-align: center;
  font-size: 10px;
  color: #fff;
  opacity: 0.3;
  margin-top: 2px;
  line-height: 1.5;
  @include mediaQuery() {
    margin-top: 5px;
  }
}