/*------------------
  ヘッダー
-------------------*/
header {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  width: 100%;
  top: 0;
  @include mediaQuery(desktopFollow) {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header_info {
  display: inline-block;
  position: relative;
}
.header_icon {
  position: relative;
  z-index: 13;
  width: 36px;
  height: auto;
  margin: 6px 0 0 11px;
  animation: header_icon $headerActionTime ease-in-out $headerActionTime * 0.62 infinite;
  @include mediaQuery(tablet) {
    width: 56px;
  }
  @include mediaQuery(desktop) {
    width: 72px;
  }
  @include mediaQuery(desktopFollow) {
    margin: 29px 0 29px 2.4vw;
    animation: header_icon $headerActionTime ease-in-out $headerActionTime * 0.5 infinite;
  }
  //Edge
  @supports (-ms-ime-align: auto) {
    @include mediaQuery(desktopFollow) {
      animation: header_icon $headerActionTime ease-in-out $headerActionTime * 0.25 infinite;
    }
  }
  @keyframes header_icon {
    0% {
      transform: scale(1) rotate(0deg);
    }
    44% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(1.4) rotate(45deg);
    }
    55% {
      transform: scale(1) rotate(-360deg);
    }
    100% {
      transform: scale(1) rotate(-360deg);
    }
  }
}
.header_border {
  position: absolute;
  left: 52px;
  margin: auto;
  width: 10px;
  height: 1px;
  background-color: #1A1A1A;
  transform-origin: left center;
  opacity: 0;
  overflow: hidden;
  animation: header_border $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) $headerActionTime * 0.6 infinite;
  @include mediaQuery(tablet) {
    left: calc(2.4vw + 66px);
  }
  @include mediaQuery(desktop) {
    left: calc(2.4vw + 82px);
  }
  @include mediaQuery(desktopFollow) {
    animation: header_border $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) $headerActionTime * 0.53 infinite;
  }
  //IE
  @media all and (-ms-high-contrast: none) {
    animation: header_border $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) $headerActionTime * 0.7 infinite;
  }
  //Edge
  @supports (-ms-ime-align: auto) {
    @include mediaQuery(desktopFollow) {
      animation: header_border $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) $headerActionTime * 0.6 infinite;
    }
  }
  @keyframes header_border {
    0% {
      width: 10px;
    }
    35% {
      width: 10px;
    }
    40% {
      width: 0px;
    }
    50% {
      width: 0px;
    }
    60% {
      width: 0px;
    }
    75% {
      width: 10px;
    }
    100% {
      width: 10px;
    }
  }
  &:nth-of-type(1) {
    transform:rotate(30deg);
    bottom: 11px;
    @include mediaQuery(tablet) {
      bottom: 50px;
    }
    @include mediaQuery(desktop) {
      bottom: 55px;
    }
    @media all and (-ms-high-contrast: none) {
      bottom: 95px;
    }
  }
  &:nth-of-type(2) {
    transform:rotate(-30deg);
    top: 14px;
    @include mediaQuery(tablet) {
      top: 50px;
    }
    @include mediaQuery(desktop) {
      top: 55px;
    }
    @media all and (-ms-high-contrast: none) {
      top: 95px;
    }
  }
  &.add-display {
    opacity: 1;
  }
}
.header_detail {
  overflow: hidden;
  height: 36px;
  position: absolute;
  top: 50%;
  left: 52px;
  transform: translateY(-50%);
  width: calc(100vw - 62px);
  @include mediaQuery(tablet) {
    left: calc(2.4vw + 56px);
    width: calc(100vw - 583.88px);
  }
  @include mediaQuery(desktop) {
    width: 400px;
    left: calc(2.4vw + 72px);
  }
  @include mediaQuery(desktopFollow) {
    height: 72px;
  }
}
.header_text {
  position: relative;
  z-index: 11;
  padding-left: 13px;
  height: 36px;
  display: none;
  transform: translateY(0);
  opacity: 1;
  animation: header_text $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * -0.43 forwards;
  @keyframes header_text {
    0% {
      transform: translateY(0);
      opacity: 1;
      animation-play-state: paused;
    }
    35% {
      transform: translateY(0);
      opacity: 1;
      animation-play-state: paused;
    }
    37% {
      animation-play-state: paused;
    }
    38% {
      animation-play-state: running;
    }
    39% {
      opacity: 1;
    }
    40% {
      transform: translateY(-100%);
      opacity: 0;
    }
    60% {
      transform: translateY(100%);
      opacity: 0;
    }
    61% {
      opacity: 1;
    }
    62% {
      animation-play-state: running;
    }
    63% {
      animation-play-state: paused;
    }
    65% {
      transform: translateY(0);
      opacity: 1;
      animation-play-state: paused;
    }
  }
  @include mediaQuery(desktopFollow) {
    padding-left: 24px;
    height: 72px;
    animation: header_text $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * -0.55 forwards;
    @keyframes header_text {
      0% {
        transform: translateY(0);
        opacity: 1;
        animation-play-state: paused;
      }
      40% {
        transform: translateY(0);
        opacity: 1;
        animation-play-state: paused;
      }
      47% {
        animation-play-state: paused;
        opacity: 1;
      }
      48% {
        animation-play-state: running;
        opacity: 0;
      }
      49% {
        opacity: 0;
      }
      50% {
        transform: translateY(-100%);
        opacity: 0;
      }
      51% {
        transform: translateY(100%);
        opacity: 0;
      }
      52% {
        opacity: 0;
      }
      58% {
        animation-play-state: running;
        opacity: 0;
      }
      59% {
        animation-play-state: paused;
        opacity: 1;
      }
      65% {
        transform: translateY(0);
        opacity: 1;
        animation-play-state: paused;
      }
    }
  }
  //IE
  @media all and (-ms-high-contrast: none) {
    animation: header_text $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * -0.5 forwards;
  }
  //Edge
  @supports (-ms-ime-align: auto) {
    @include mediaQuery(desktopFollow) {
      padding-left: 24px;
      height: 72px;
      transform: translateY(100%);
      opacity: 0;
      animation: header_text $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * 0.07 forwards;
      @keyframes header_text {
        0% {
          transform: translateY(100%);
          animation-play-state: paused;
          opacity: 0;
        }
        5% {
          transform: translateY(100%);
          animation-play-state: running;
          opacity: 0;
        }
        6% {
          opacity: 1;
        }
        15% {
          transform: translateY(0%);
          opacity: 1;
        }
        65% {
          transform: translateY(0%);
          opacity: 1;
        }
        74% {
          opacity: 0;
        }
        75% {
          transform: translateY(-100%);
          animation-play-state: paused;
          opacity: 0;
        }
        80% {
          transform: translateY(-100%);
          animation-play-state: paused;
          opacity: 0;
        }
      }
    }
  }
  &.add-active {
    display: block;
  }
  p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.2;
    font-size: 11px;
    letter-spacing: -.5px;
    z-index: -1;
    @include mediaQuery(tablet) {
      font-size: 13px;
    }
    @include mediaQuery(desktop) {
      font-size: 15px;
    }
  }
}
.header_whiteMask {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
  height: 72px;
  width: 300px;
  z-index: 12;
  background-color: #fff;
  opacity: 0;
  //Edge
  @supports (-ms-ime-align: auto) {
    display: none;
  }
  //IE
  @media all and (-ms-high-contrast: none) {
    display: none;
  }
  animation: header_whiteMask $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * -0.4 forwards;
  @keyframes header_whiteMask {
    0% {
      opacity: 0;
    }
    33% {
      opacity: 0;
    }
    34% {
      opacity: 1;
    }
    54% {
      opacity: 1;
    }
    55% {
      opacity: 0;
    }
  }
  @include mediaQuery(tablet) {
    left: calc(2.4vw + 80px);
    width: calc(100vw - 607.88px);
  }
  @include mediaQuery(desktop) {
    left: 121px;
    width: 312px;
  }
  @include mediaQuery(desktopFollow) {
    animation: header_whiteMask $headerActionTime cubic-bezier(0.01, 0.01, 0.01, 0.81) infinite $headerActionTime * -0.55 forwards;
    @keyframes header_whiteMask {
      0% {
        opacity: 0;
      }
      48% {
        opacity: 0;
      }
      49% {
        opacity: 1;
      }
      52% {
        opacity: 1;
      }
      53% {
        opacity: 0;
      }
    }
  }
}
.header_image {
  width: 110px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  @include mediaQuery(tablet) {
    max-width: 150px;
    width: calc(100vw - 583.88px);
  }
  @include mediaQuery(desktop) {
    width: 216px;
  }
}
.header_nav {
  @include mediaQuery(desktopFollow) {
    display: inline-block;
  }
}
.header_list {
  display: flex;
  overflow-x: auto;
  overscroll-behavior: contain;
  margin: 0 6px;
  @include mediaQuery(tablet) {
    margin: 0;
    padding: 0 30px 0 0;
  }
  @include mediaQuery(desktop) {
    margin: 0;
    padding: 0 35px 0 0;
  }
}
.header_link {
  font-family: $extra;
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: .8;
  padding: 14px 4px 14px;
  @include mediaQuery(tablet) {
    font-family: $primary;
    font-weight: bold;
    font-size: 20px;
    margin: 0px 2px 0 0;
    letter-spacing: 0.1px;
  }
  @include mediaQuery(desktop) {
    font-family: $primary;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1px;
    margin: 0px 11px 0 0;
  }
  a {
    color: rgba(26,26,26,0.15);
    transition: color 500ms;
    &.mod-textChange:before {
      content: 'LIVE';
      @include mediaQuery(desktopFollow) {
        content: 'LIVE/STAGE';
      }
    }
    &:hover {
      color: #000;
    }
  }
  &.mod-active {
    a {
      color: #000;
    }
    @include mediaQuery(mobileOnly) {
      transform: translateY(-5px);
      &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -5px;
        left: 0;
        display: block;
        width: 100%;
        height: 5px;
        background-color: #000;
      }
    }
  }
}
