/*------------------
  共通ボタンスタイル
-------------------*/
.commonButton {
  position: relative;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  .button_anker {
    color: #fff;
    font-family: $primary;
    font-weight: bold;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  .button_text {
    padding-right: 4px;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: 15px;
    @include mediaQuery(mobileOnly) {
      position: absolute;
      bottom: 50%;
      right: 20%;
      transform: translate(50%, 50%);
    }
    @include mediaQuery(desktopFollow) {
      font-size: 18px;
    }
  }
  .button_arrow {
    width: 21px;
    @include mediaQuery(mobileOnly) {
      position: absolute;
      bottom: 50%;
      right: 8%;
      transform: translate(50%, 50%);
      width: 14px;
    }
  }
}
/*------------------
  オープニングアニメーション
-------------------*/
.opAnimation {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
  &.add-displayNone {
    display: none;
  }
}
.opAnimation_logo {
  transform: translate(50%, 50%);
  position: absolute;
  bottom: 50vh;
  right: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mediaQuery(mobileOnly) {
    bottom: 55vh;
  }
}
.opAnimation_icon {
  margin-right: 20px;
  opacity: 0;
  &.mod-rotate.add-trigger {
    animation: opAnimation_icon $opAnimationTime * 0.28 ease-in-out forwards;
    opacity: 1;
    @keyframes opAnimation_icon {
      0% {
        transform: scale(1) rotate(0deg);
      }
      65% {
        transform: scale(1.4) rotate(45deg);
      }
      100% {
        transform: scale(1) rotate(-360deg);
      }
    }
  }
  svg {
    height: 19vw;
    width: auto;
    @include mediaQuery(tablet) {
      height: 18vw;
    }
    @include mediaQuery() {
      height: 23vh;
    }
    @media all and (-ms-high-contrast: none) {
      width: 23vh;
    }
  }
}
.opAnimation_text {
  display: flex;
  svg {
    opacity: 0;
    height: 19vw;
    width: auto;
    @include mediaQuery(tablet) {
      height: 18vw;
    }
    @include mediaQuery() {
      height: 23vh;
    }
    @media all and (-ms-high-contrast: none) {
      width: 40px;
      &:nth-child(7) {
        width: 27px;
      }
      &:nth-child(8) {
        width: 113px;
      }
    }
  }
  &.mod-rotate.add-trigger svg {
    animation-name: opAnimation_text;
    animation-duration: $opAnimationTime * 0.08;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    @keyframes opAnimation_text {
      0% {
        transform: rotateX(180deg);
        opacity: 0;
      }
      100% {
        transform: rotateX(0deg);
        opacity: 1;
        animation-play-state: paused;
      }
    }
    //KANJANI∞の各文字ごとにアニメーション開始タイミングを指定
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: #{($opAnimationValue * 0.18) + (($i - 1) * 20)}ms;
      }
    }
  }
}
/*  オープニングアニメーション END
-------------------*/
/*------------------
  top
-------------------*/
.top {
  overflow: hidden;
  /*------------------
    hero
  -------------------*/
  .hero {
    position: relative;
    background-color: #DCDCDC;
    overflow: hidden;
    @include mediaQuery(desktop) {
      height: calc(100vh - 130px);
      min-height: calc(30vw + 130px);
      max-height: calc(50vw + 130px);
    }
  }
  .hero_overlayPoster {
    content: "";
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #1C1C1C;
    z-index: 15;
    transform-origin: left;
    &.add-displayNone {
      display: none;
    }
    &.add-trigger {
      animation: poster $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.5 forwards;
      @keyframes poster {
        0% {
          transform: translate3d(100%, 0, 0);
          transform: scaleX(1);
        }
        100% {
          transform: translate3d(0, 0, 0);
          transform: scaleX(0);
        }
      }
    }
  }
  .hero_overlayGrids {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    &.add-displayNone {
      display: none;
    }
  }
  .hero_overlayGrid {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1c1c1c;
    z-index: 2;
    height: 22vw;
    transform-origin: right;
    @include mediaQuery(desktopFollow) {
      height: 34.48%;
    }
    &.add-trigger {
      animation: hero_overlay_grid $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.7 forwards;
      @keyframes hero_overlay_grid {
        0% {
          transform: translate3d(0, 0, 0);
          transform: scaleX(1);
        }
        100% {
          transform: translate3d(100%, 0, 0);
          transform: scaleX(0);
        }
      }
      &:nth-child(2) {
        top: 22vw;
        @include mediaQuery(desktopFollow) {
          top: 33.33%;
        }
        animation-delay: $opAnimationTime * 0.74;
      }
      
      &:nth-child(3) {
        top: 44vw;
        @include mediaQuery(desktopFollow) {
          top: auto;
          bottom: 0;
        }
        animation-delay: $opAnimationTime * 0.78;
      }
    }
  }
  .hero_title {
    overflow: hidden;
  }
  .hero_image {
    @include mediaQuery(mobileOnly) {
      transition: transform $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.8;
      transform: scale(1.2);
      &.mod-scale.add-trigger {
        transform: scale(1);
      }
    }
    @include mediaQuery(tablet) {
      margin-left: 50px;
      width: calc(100% - 50px);
    }
    @include mediaQuery(desktop) {
      height: calc(100% - 140px);
      width: auto;
      position: absolute;
      right: 0;
    }
    @include mediaQuery(desktopFollow) {
      transition: transform $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.8;
      transform: translateX(30px);
      &.mod-slideIn.add-trigger {
        transform: translateX(0);
      }
    }
  }
  .hero_nav {
    position: absolute;
    top: 5%;
    left: 11.3%;
    right: auto;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style-type: none;
    z-index: 1;
    mix-blend-mode: exclusion;
    height: 100%;
    @media screen and (min-height:600px) and (max-width:1125px) {
      left: auto;
      right: 700px;
    }
    //Edge
    @supports (-ms-ime-align: auto) {
      top: 1%;
    }
    //IE
    @media all and (-ms-high-contrast: none) {
      top: 1%;
    }
  }
  .hero_link {
    display: block;
    font-family: $extra;
    letter-spacing: -2px;
    line-height: 0.77;
    overflow: hidden;
    font-size: 4em;
    text-align: left;
    font-size: 88px;
    @media screen and (max-height:650px) {
      font-size: 11vh;
    }
    @media screen and (max-height:700px) and (min-width:1200px) {
      font-size: 76px;
    }
    @media screen and (max-height:600px) and (max-width:1199px)  { 
      font-size: 60px;
    }
    a {
      position: relative;
      color: #fff;
      display: inline-block;
      transform: translateY(100%);
      transition: transform $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.8;
      //Edge
      @supports (-ms-ime-align: auto) {
        color: #000;
      }
      //IE
      @media all and (-ms-high-contrast: none) {
        color: #000;
      }
      &:before {
        position: absolute;
        content: "";
        display: block;
        bottom: -100%;
        left: 0
      }
      &:hover{
        animation: navigation 300ms $bezierValue forwards;
        @keyframes navigation {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-100%);
          }
        }
      }
      &.mod-fadeIn.add-trigger {
        transform: translateY(0);
      }
    }
    &:nth-child(1) a:before {
      content: "NEWS"
    }
    
    &:nth-child(2) a:before {
        content: "DISCOGRAPHY"
    }
    
    &:nth-child(3) a:before {
        content: "MOVIE"
    }
    
    &:nth-child(4) a:before {
        content: "LIVE/STAGE"
    }
    
    &:nth-child(5) a:before {
        content: "MEDIA"
    }
    
    &:nth-child(6) a:before {
        content: "PROFILE"
    }
  }
  .hero_scrollText {
    position: absolute;
    font-family: $primary;
    font-weight: bold;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 2px;
    writing-mode: vertical-rl;
    left: 50px;
    bottom: 67px;
    @include mediaQuery(mobileOnly) {
      display: none;
    }
    @include mediaQuery(desktop) {
      bottom: 87px;
    }
  }
  .hero_scrollArrow {
    position: absolute;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 50px;
    left: 48px;
    bottom: 10px;
    @include mediaQuery(mobileOnly) {
      display: none;
    }
    @include mediaQuery(desktop) {
      bottom: 30px;
    }
    &:before {
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      background-image: url("../../../images/arrow_bk.svg");
      background-size: cover;
      transform: rotate(90deg) translate3d(-18px, 0, 0);
      animation: hero_scrollArrow 2000ms infinite;
    }
    @keyframes hero_scrollArrow {
      0% {
        transform: rotate(90deg) translate3d(-18px, 0, 0)
      }
      100% {
        transform: rotate(90deg) translate3d(48px, 0, 0)
      }
    }
  }
  .hero_news {
    margin-left: 20px;
    z-index: 3;
    background-color: #fff;
    @include mediaQuery(mobileOnly) {
      padding-top: 5px;
      position: relative;
      top: -20px;
    }
    @include mediaQuery(tablet) {
      display: flex;
      margin-left: 11.3%;
      height: 140px;
    }
    @include mediaQuery(desktop) {
      display: flex;
      margin-left: 11.3%;
      height: 140px;
      position: absolute;
      bottom: 0;
    }
    @include mediaQuery(desktopFollow) {
      transform: translateX(140px);
      transition: transform $opAnimationTime * 0.2 $bezierValue $opAnimationTime * 0.8;
      &.mod-slideIn.add-trigger {
        transform: translateX(0);
      }
    }
  }
  .hero_newsList {
    @include mediaQuery(desktopFollow) {
      display: flex;
    }
  }
  .hero_newsElement {
    position: relative;
    @include mediaQuery(desktopFollow) {
      width: 33.33%;
      &:not(:last-child) {
        &:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          margin: auto 0;
          width: 1px;
          height: 50px;
          display: block;
          background-color: rgba(0,0,0,0.16);
        }
      }
    }
    a {
      text-decoration: none;
      @include mediaQuery(mobileOnly) {
        display: flex;
        align-items: center;
      }
      @include mediaQuery(desktopFollow) {
        padding: 28px 10%;
        display: block;
      }
    }
    &:hover .hero_newsTitle {
      opacity: 0.6;
    }
  }
  .hero_newsTitle {
    font-size: 13px;
    font-weight: bold;
    line-height: 19px;
    text-align: justify;
    @include mediaQuery(mobileOnly) {
      width: calc(100% - 80px);
      padding: 18px 15px 18px 0;
      border-bottom: 1px solid rgba(0,0,0,0.16);
    }
    @include mediaQuery(desktopFollow) {
      margin-top: 20px;
      font-size: 15px;
      line-height: 22px;
      height: 44px;
      overflow: hidden;
    }
  }
  .hero_newsDate {
    width: 80px;
    font-family: $primary;
    font-size: 13px;
    line-height: 1;
    letter-spacing: 0;
    font-weight: bold;
    text-align: center;
    color: rgba(26,26,26,0.45);
    @include mediaQuery(desktopFollow) {
      display: flex;
      align-items: center;
      margin: 0 auto;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: 1px;
    }
    &.hero_newLabel {
      @include mediaQuery(desktopFollow) {
        width: 150px;
      }
      &:after {
        content: "NEW";
        display: inline-block;
        width: 50px;
        height: 18px;
        font-size: 13px;
        font-family: $primary;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 2px;
        padding: 2px 0 0 2px;
        color: #fff;
        background-color: #B49B6C;
        animation: hero_newLabel 2000ms infinite;
        margin: 3px auto 0;
        @include mediaQuery(desktopFollow) {
          vertical-align: top;
          margin: 0 0 0 10px;
          padding: 4px 20px 0px 20px;
          height: 20px;
          font-size: 15px;
        }
      }
    }
  }
  @keyframes hero_newLabel {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    20% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
  .mod-heroButton {
    @include mediaQuery(desktopFollow) {
      width: 140px;
      height: 140px;
      .button_anker {
        width: 140px;
        height: 140px;
      }
      .button_text {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 75px;
        transition: all 300ms ease-out;
      }
      &:hover .button_text {
        right: 54%;
      }
      .button_arrow {
        position: absolute;
        right: 25%;
        bottom: 50%;
        transform: translate(50%, 50%);
        opacity: 0;
        transition: all 300ms ease-out;
        width: 18px;
      }
      &:hover .button_arrow {
        right: 20%;
        opacity: 1;
      }
    }
    @media all and (-ms-high-contrast: none) {
      width: 280px;
    }
  }
  /*  hero END
  -------------------*/
  /*------------------
    contentsLink
  -------------------*/
  .contentsLink {
    position: relative;
    background-color: #f2f2f2;
  }
  .contentsLink_title {
    position: absolute;
    font-family: $primary;
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    letter-spacing: 1px;
    color: #B5B5B5;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%) rotate(90deg);
    transform-origin: center bottom;
    z-index: 1;
    @include mediaQuery(desktopFollow) {
      font-size: 15px;
      left: 50px;
    }
  }
  .contentsLink_area {
    position: relative;
    z-index: 2;
  }
  .contentsLink_list {
    display: flex;
    padding: 25px 0 20px 0px;
    @include mediaQuery(tablet) {
      padding: 35px 0 30px;
    }
    @include mediaQuery(desktop) {
      padding: 35px 0 30px 11.3%;
    }
  }
  //slick オーバーライド
  .slick-slide {
    width: 200px;
    margin-right: 10px;
    @include mediaQuery(tablet) {
      width: 300px;
    }
  }
  //slick オーバーライド END
  .contentsLink_element {
    @include mediaQuery(desktop) {
      width: 300px;
      margin-right: 10px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  .mod-contentsLinkEmpty {
    @include mediaQuery(desktop) {
      display: none;
    }
  }
  .contentsLink_text {
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
    @include mediaQuery(desktopFollow) {
      margin-top: 8px;
      font-size: 13px;
    }
  }
  /*  contentsLink END
  -------------------*/
  /*------------------
    video
  -------------------*/
  .video {
    position: relative;
    background-color: #000;
    //slick オーバーライド
    .slick-track {
      @include mediaQuery(desktopFollow) {
        height: 595px;
      }
    }
    .slick-arrow {
      position: relative;
      display: inline-block;
      background-color: #fff;
      width: 54px;
      height: 54px;
      cursor: pointer;
      transition: opacity 800ms;
      @include mediaQuery(desktopFollow) {
        width: 70px;
        height: 70px;
      }
      &.slick-disabled {
        opacity: 0.15;
        cursor: unset;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
      }
    }
    .prevArrow {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 4;
      transform: rotate(180deg);
    }
    .nextArrow {
      position: absolute;
      z-index: 4;
      left: 54px;
      bottom: 0px;
      @include mediaQuery(desktopFollow) {
        position: absolute;
        left: 70px;
        bottom: 0;
      }
    }
    //slick オーバーライド END
  }
  .video_element {
    position: relative;
  }
  .video_overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: auto;
    background-color: rgba(0,0,0,0.55);
    pointer-events: none;
  }
  .video_content {
    position: relative;
    cursor: pointer;
    @include mediaQuery(desktopFollow) {
      height: 595px;
    }
    video {
      width: 100vw;
      @include mediaQuery(mobileOnly) {
        height: 56vw;
      }
      @include mediaQuery(desktopFollow) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .video_playButton {
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: auto;
      display: block;
      width: 60px;
      height: 60px;
      background-color: #fff;
      border-radius: 50%;
      z-index: 3;
      cursor: pointer;
      @include mediaQuery(desktopFollow) {
        width: 150px;
        height: 150px;
      }
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 6px;
      margin: auto;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: transparent transparent transparent #000;
      border-width: 6.5px 0 6.5px 14px;
      z-index: 3;
      cursor: pointer;
      @include mediaQuery(desktopFollow) {
        border-width: 16px 0 16px 36px;
        left: 10px;
      }
    }
  }
  .video_detail {
    padding: 20px 20px 70px;
    background-color: #1c1c1c;
    position: relative;
    z-index: 3;
    @include mediaQuery(desktopFollow) {
      padding: 20px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 3;
      width: 380px;
      height: 150px;
      padding: 25px;
    }
  }
  .video_title {
    height: 48px;
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 0 0 15px;
    color: #fff;
    transition: all 600ms ease-in-out;
    transform: translateX(-50%);
    opacity: 0;
    &.add-slideIn {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .video_time {
    font-size: 13px;
    color: #A2A2A2;
    transition: all 600ms ease-in-out 20ms;
    transform: translateX(-50%);
    opacity: 0;
    &.add-slideIn {
      transform: translateX(0%);
      opacity: 1;
    }
    @include mediaQuery(desktopFollow) {
      font-size: 14px;
    }
  }
  .mod-videoButton {
    position: absolute;
    bottom: 1px;
    z-index: 2;
    @include mediaQuery(desktopFollow) {
      width: 200px;
      height: 200px;
      right: 0;
      .button_anker {
        width: 200px;
        height: 200px;
      }
      .button_text {
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 77px;
        transition: all 300ms ease-out;
      }
      &:hover .button_text {
        right: 54%;
      }
      .button_arrow {
        position: absolute;
        right: 25%;
        bottom: 50%;
        transform: translate(50%, 50%);
        opacity: 0;
        transition: all 300ms ease-out;
        width: 18px;
      }
      &:hover .button_arrow {
        right: 20%;
        opacity: 1;
      }
    }
  }
  .video_textHidden {
    @include mediaQuery(mobileOnly) {
      position: absolute;
      bottom: 54px;
      right: 0;
      width: 40%;
      height: 112px;
      background-color: #1c1c1c;
      z-index: 4;
    }
  }
  //ポップアップ video
  .video_popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
    transition: all 500ms ease-out;
    display: none;
    //Edge
    @supports (-ms-ime-align: auto) {
      -ms-overflow-style: none;
    }
    &.add-popup {
      display: block;
    }
    video {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -40%);
      z-index: 26;
      transition: all 300ms ease-out;
      opacity: 0;
      width: 100%;
      @include mediaQuery(desktopFollow) {
        width: calc(100% - 260px);
        height: calc((100% - 260px) * 56.25%);
        max-width: 1000px;
      }
      &.add-popup {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }
  }
  .video_popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    overflow-y: scroll;
    background-color: rgba(0,0,0,0.86);
    cursor: pointer;
    opacity: 0;
    transition: all 300ms ease-out;
    &.add-popup {
      opacity: 1;
    }
  }
  .video_close {
    position: fixed;
    z-index: 26;
    opacity: 1;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    top: 20px;
    right: 20px;
    box-sizing: border-box;
    cursor: pointer;
    border: solid 3px #fff;
    @include mediaQuery(desktopFollow) {
      border: solid 5px #fff;
      width: 70px;
      height: 70px;
      font-size: 50px;
      top: 30px;
      right: 30px;
    }
    &:before, &:after{
      content: "";
      display: block;
      width: 44%;
      height: 2px;
      background: #fff;
      transform: rotate(45deg);
      position: absolute;
      top: 19px;
      left: 12px;
      @include mediaQuery(desktopFollow) {
        height: 4px;
        width: 50%;
        top: 30px;
        left: 16px;
      }
    }
    &:after{
      transform: rotate(-45deg);
      right: 10px;
      left: auto;
      @include mediaQuery(desktopFollow) {
        right: 14px;
      }
    }
  }
  //ポップアップ video END

  /*  video END
  -------------------*/
  /*------------------
    release
  -------------------*/
  .release {
    background-color: #f2f2f2;
    padding: 30px 20px 40px;
    position: relative;
    overflow: hidden;
    @include mediaQuery(desktopFollow) {
      padding: 100px 70px 125px;
    }
  }
  .release_slideIn {
    transform: translateX(10%);
    opacity: 0;
    &.add-inView {
      opacity: 1;
      transform: translateX(0);
      transition: 700ms ease-out;
    }
  }
  .release_title {
    font-family: $extra;
    font-size: 65px;
    line-height: 45px;
    letter-spacing: -2px;
    font-weight: normal;
    position: relative;
    z-index: 2;
    @include mediaQuery(desktopFollow) {
      font-size: 150px;
      letter-spacing: -4px;
      line-height: 110px;
      display: inline-block;
    }
  }
  .release_info {
    margin-top: 10px;
    position: relative;
    z-index: 2;
    @include mediaQuery(desktopFollow) {
      margin-top: 30px;
      width:40%
    }
  }
  .release_type {
    padding: 0 10px;
    margin: 0 10px 0 0;
    height: 26px;
    line-height: 26px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: top;
    border-radius: 16px;
    background-color: #1C1C1C;
    color: #fff;
    @include mediaQuery(desktopFollow) {
      padding: 3px 10px;
    }
  }
  .release_date {
    font-size: 18px;
    line-height: 26px;
    font-family: $primary;
    font-weight: bold;
    @include mediaQuery(desktopFollow) {
      font-size: 20px;
    }
  }
  .release_single {
    font-size: 20px;
    font-weight: bold;
    margin: 12px 0 25px;
    position: relative;
    z-index: 2;
    @include mediaQuery(desktopFollow) {
      font-size: 26px;
      margin: 17px 0 30px;
      display: inline-block;
    }
  }
  .release_imageWrap {
    position: relative;
    @include mediaQuery(desktopFollow) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .release_image {
    position: relative;
    z-index: 2;
    width: 61.33vw;
    min-width: 230px;
    max-width: 400px;
    height: 61.33vw;
    min-height: 230px;
    max-height: 400px;
    margin: 0 auto 20px;
    transition: 500ms;
    cursor: pointer;
    @include mediaQuery(desktop) {
      &:hover {
        transform: translateY(-10px);
      }
    }
    @media (max-width: 1200px) and (min-width: 751px) {
      width: 40vw;
      height: 40vw;
      left: 46%;
    }
    img {
      transform: rotateY(-90deg) translate3d(0, 10%, 0);
      opacity: 0;
      @include mediaQuery(desktopFollow) {
        box-shadow: 8px 59px 50px -37px rgba(0,0,0,0.4);
      }
      &.mod-fadeIn.add-inView {
        opacity: 1;
        transform: rotateY(0deg) translate3d(0, 0, 0);
        transition: 500ms;
      }
    }
  }
  .release_backText {
    position: absolute;
    bottom: 50%;
    right: 50%;
    z-index: 1;
    font-size: 36.4vw;
    font-family: $extra;
    letter-spacing: -1vw;
    font-weight: normal;
    white-space: nowrap;
    color: rgba(255,255,255,0.8);
    transform: translate(50%, 70%);
    opacity: 0;
    @include mediaQuery(desktopFollow) {
      font-size: 400px;
      letter-spacing: -10px;
    }
    &.mod-fadeIn.add-inView {
      opacity: 1;
      transform: translate(50%, 50%);
      transition: 500ms ease-out 200ms;
    }
  }
  .mod-releaseButton {
    background-color: #1C1C1C;
    justify-content: center;
    width: 61.33vw;
    min-width: 230px;
    max-width: 400px;
    position: relative;
    z-index: 2;
    @include mediaQuery(desktop) {
      &:hover {
        background-color: #fff;
        box-shadow: 5px 25px 40px rgba(0,0,0,0.2);
        transition: background-color 400ms;
        &:before {
          display: block;
        }
        &:after {
          display: none;
        }
        .button_text {
          color: #000;
        }
      }
    }
    &:before, &:after {
      content: "";
      position: absolute;
      right: 26%;
      bottom: 50%;
      transform: translateY(50%);
      width: 18px;
      height: 18px;
      background-size: cover;
      @include mediaQuery(desktopFollow) {
        right: 30%;
      }
    }
    &:before {
      display: none;
      background-image: url("../../../images/arrow_bk.svg");
    }
    &:after {
      background-image: url("../../../images/arrow_wh.svg");
    }
    @include mediaQuery(mobileOnly) {
      margin: 0 auto;
    }
    @include mediaQuery(desktopFollow) {
      width: 276px;
    }
    .button_text {
      position: absolute;
      right: 34%;
      bottom: 50%;
      transform: translateY(50%);
      @include mediaQuery(desktopFollow) {
        right: 37%;
      }
    }
  }
  .release_textButton {
    background-color: transparent;
    height: 26px;
    margin-top: 40px;
    position: relative;
    z-index: 2;
    display: inline-block;
    @include mediaQuery(mobileOnly) {
      left: 60%;
    }
    @include mediaQuery(desktopFollow) {
      justify-content: flex-start;
    }
    .button_anker {
      font-family: $primary;
      font-weight: bold;
      padding: 0;
      border-bottom: 2px solid #1A1A1A;
      color: #1A1A1A;
      display: flex;
      align-items: center;
      text-decoration: none;
      transition: transform 300ms;
      @include mediaQuery(desktop) {
        &:hover {
          transform: translateX(3%);
        }
      }
    }
    .button_text {
      padding-right: 4px;
      line-height: 1.6;
      letter-spacing: 1px;
      font-size: 15px;
      @include mediaQuery(desktopFollow) {
        font-size: 18px;
      }
    }
    .button_arrow {
      width: 14px;
      @include mediaQuery(desktopFollow) {
        width: 21px;
      }
    }
  }
  /*------------------
    profile
  -------------------*/
  .profile {
    position: relative;
    overflow: hidden;
    @include mediaQuery(desktopFollow) {
      opacity: 0;
      transition: 700ms ease-out;
    }
    &.mod-opacity.add-inView {
      opacity: 1;
    }
  }
  .profile_title {
    position: absolute;
    right: 50%;
    text-align: center;
    font-size: 80px;
    letter-spacing: -2px;
    color: #fff;
    line-height: 1;
    font-family: $extra;
    font-weight: normal;
    transition: 500ms;
    @include mediaQuery(mobileOnly) {
      top: 28vw;
      transform: translate(50px, 100%);
      &.mod-fadeIn.add-inView {
        transform: translate(50px, 50%);
      }
      &:before {
        content: "";
        position: absolute;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: -210px;
        width: 40px;
        height: 40px;
        margin: auto;
        background: url("../../../images/profile_arrow.svg");
        background-size: cover;
      }
    }
    @include mediaQuery(desktopFollow) {
      transform: translate(50%, 100%);
      font-size: 40vh;
      letter-spacing: -7px;
      bottom: 0;
      &.mod-fadeIn.add-inView {
        transform: translate(50%, 0);
      }
    }
  }
  .profile_imageWrap {
    display: flex;
  }
  .profile_image {
    width: 20%;
    height: 61.33vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    @include mediaQuery(desktopFollow) {
      height: calc(100vh - 130px);
    }
    &:nth-child(1) {
      background-image: url("../../../images/profile_yokoyama_200419-min.jpg");
    }
    &:nth-child(2) {
      background-image: url("../../../images/profile_maruyama_200419-min.jpg");
    }
    &:nth-child(3) {
      background-image: url("../../../images/profile_ohkura_200419-min.jpg");
    }
    &:nth-child(4) {
      background-image: url("../../../images/profile_yasuda_200419-min.jpg");
    }
    &:nth-child(5) {
      background-image: url("../../../images/profile_murakami_200419-min.jpg");
    }
  }
}

